.table-align{
    text-align: center;
}

.delete-button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

.delete-button img{
    width: 25px;
}

.edit-button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

.edit-button img{
    width: 25px;
}
